<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>实践，是检验真理的唯一标准 - IPlayWithMe</title>
	<link href='http://www.youziku.com/webfont/CSS/a195255431e5423b6fec283ea9c4e29f' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/ipwm.css">
</head>
<body>
	<div id="idx-head">
		<header>
			<h1 class="maozedongziti">实践，是检验真理的唯一标准</h1>
			<p>TO BE OR NOT TO BE,THAT'S NOT A QUESTION ANYMORE!</p>	
		</header>
		<nav>
			<div class="nav-item"><sapn style="font-family:minijianyaya53848;">Home</span><div id="home-icon"></div></div>
			<div class="nav-item"><sapn class="cssa195255431e5423b6fec283ea9c4e29f">宅/技术</span></div>
			<div class="nav-item"><sapn class="cssa195255431e5423b6fec283ea9c4e29f">师/设计</span></div>
			<div class="nav-item"><sapn class="cssa195255431e5423b6fec283ea9c4e29f">行/思想</span></div>
			<div class="nav-item"><sapn class="cssa195255431e5423b6fec283ea9c4e29f">声/音</span></div>
		</nav>
	</div>
	<div id="idx-main">
		<div id="idx-main-left">
			<div id="span-info">
				<span id="span-part">
					<h3 id="span-title">来自地狱的客户：设计师和程序员的各种奇葩遭遇</h3>
					<div id="span-content">我觉得 “Internet Explorer cannot display the webpage”  这个提示语用红色，背景为灰色看起来会更好。</div>
				</span>
			</div>
		</div>
		<div id="idx-main-right">
			<section>
				<div class="sec-title jdfyanti">最新内容</div>
				<div class="subsection">
					<ul>
						<li>这是列表标题..1</li>
						<li>这是列表标题..2</li>
						<li>这是列表标题..3</li>
						<li>这是列表标题..4</li>
						<li>这是列表标题..5</li>
						<li>这是列表标题..6</li>
						<li>这是列表标题..7</li>
						<li>这是列表标题..8</li>
					</ul>
				</div>
			</section>
			<section>
				<div class="sec-title jdfyanti">内容分类</div>
				<div class="subsection">
					<dl>
						<dt>PHP</dt>
						<dd>list 1</dd>
						<dd>list 2</dd>
						<dd>list 3</dd>
						<dt>MySQL</dt>
						<dd>list 1</dd>
						<dd>list 2</dd>
						<dd>list 3</dd>
						<dt>JavaScript</dt>
						<dd>list 1</dd>
						<dd>list 2</dd>
						<dd>list 3</dd>
						<dt>Program 04</dt>
						<dd>list 1</dd>
						<dd>list 2</dd>
						<dd>list 3</dd>
						<dt>Program 05</dt>
						<dd>list 1</dd>
						<dd>list 2</dd>
						<dd>list 3</dd>
					</dl>
				</div>
			</section>
			<section>
				<div class="sec-title jdfyanti">最新评论</div>
			</section>
		</div>
	</div>
	<div id="idx-foot">
		All Rights Reserved &copy; iplaywith.me  2014
	</div>
</body>
 <script type="text/javascript" src="http://www.youziku.com/UserDownFile/jquery.min.js"></script> 
<script type="text/javascript" src="http://www.youziku.com/UserDownFile/jquery.md5.js"></script> 
<script type="text/javascript" src="js/youziku.js"></script>
</html>