<!DOCTYPE html>
<html>
<head>
	<title>Kaiyu Lee - IPlayWithMe</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/ipwm.css">
</head>
<body>
	<div id="idx-head">
		<header>
			<h1>KAIYU LEE</h1>
			<p>TO BE OR NOT TO BE,THAT'S NOT A QUESTION ANYMORE!</p>	
		</header>
		<nav>
			<div class="nav-item"><sapn>Home</span><div id="home-icon"></div></div>
			<div class="nav-item"><sapn>宅·技术</span></div>
			<div class="nav-item"><sapn>师·设计</span></div>
			<div class="nav-item"><sapn>行·思想</span></div>
			<div class="nav-item"><sapn>You & Me</span></div>
		</nav>
	</div>
	<div id="idx-main">
		<div id="idx-main-left">
			<div id="article-list">
				<article class="article">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title"><a href="javascript:void(0);">I'm the article's title</a></h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</article>
				<article class="article">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title"><a href="javascript:void(0);">I'm the article's title</a></h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</article>
				<article class="article">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title"><a href="javascript:void(0);">I'm the article's title</a></h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</article>
				<article class="article">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title"><a href="javascript:void(0);">I'm the article's title</a></h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</article>
				<article class="article">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title"><a href="javascript:void(0);">I'm the article's title</a></h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</article>
				<article class="article">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title"><a href="javascript:void(0);">I'm the article's title</a></h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</article>
				<article class="article">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title"><a href="javascript:void(0);">I'm the article's title</a></h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</article>
				<article class="article">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title"><a href="javascript:void(0);">I'm the article's title</a></h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</article>
			</div>
			<div id="page-bar">
				<span class="page-num">1</span>
				<span class="page-num">2</span>
				<span class="page-num">3</span>
				<span class="page-num">4</span>
				<span class="page-num">5</span>
				<span class="page-num">6</span>
				<span class="page-num">7</span>
				<span class="page-num">8</span>
			</div>		
		</div>
		<div id="idx-main-right">
			<section>
				<div class="sec-title">最新内容</div>
				<div></div>
			</section>
			<section>
				<div class="sec-title">内容分类</div>
			</section>
			<section>
				<div class="sec-title">最新评论</div>
			</section>
		</div>
	</div>
	<div id="idx-foot">
		All Rights Reserved &copy; iplaywith.me @ 2014
	</div>
</body>
</html>