<!DOCTYPE html>
<html>
<head>
	<title>Kaiyu Lee - IPlayWithMe</title>
	<link rel="stylesheet" type="text/css" href="css/ipwm.css">
</head>
<body>
	<div id="idx-head">
		<header>
			<h1>Title</h1>
			<p>Subtitle</p>	
		</header>
		<nav>
			<div class="nav-item">Home</div>
			<div class="nav-item">Category One</div>
			<div class="nav-item">Category Two</div>
			<div class="nav-item">Category Three</div>
			<div class="nav-item">Message Box</div>
		</nav>
	</div>
	<div id="idx-main">
		<div id="idx-main-left">
			<div id="article-list">
				<atircle class="atricle">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title">I'm the article's title</h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</atircle>
				<atircle class="atricle">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title">I'm the article's title</h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</atircle>
				<atircle class="atricle">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title">I'm the article's title</h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</atircle>
				<atircle class="atricle">
					<div class="time-mark">
						<p class="time-year">2014</p>
						<p class="time-md">07/08</p>
					</div>
					<h3 class="article-title">I'm the article's title</h3>
					<p class="article-intro">Here's the brief introduction for this article</p>
				</atircle>
			</div>
			<div id="page-bar">
				<span class="page-num">1</span>
				<span class="page-num">2</span>
				<span class="page-num">3</span>
				<span class="page-num">4</span>
				<span class="page-num">5</span>
				<span class="page-num">6</span>
				<span class="page-num">7</span>
				<span class="page-num">8</span>
			</div>		
		</div>
		<div id="idx-main-right">
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</body>
</html>