body{
	/*background-color: #F4F4F4;*/ 
	font-family: 'Microsoft YaHei', serif;
}
h1{
	font-size: 64px;
	font-weight: bolder;
}
a{
	text-decoration: none;
	color: inherit;
}
#idx-head{
	color: #FFFFFF;
	/*background-color: #1E79D8;*/
	border: 1px solid #ccc;
}
#idx-head header{
	height: 100px;
	padding: 20px;
	background-color: #A470AA;
}
#idx-head nav{
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	background-color: #02355B;
}
.nav-item{
	min-width: 32px;
	font-size: 18px;
	margin-right: 20px;
	cursor: pointer;
	display: inline-block;
}
.nav-item:first-child{
	position: relative;
}
#home-icon{
	width: 32px;
	height: 22px;
	background: url("../images/home.png") no-repeat;
	position: absolute;
	top: -22px;
	left: 3px;
}
#idx-main{
	width: 1024px;
	border: 1px solid #ccc;
	margin: 10px auto;
	padding: 10px;
	overflow: auto;
	zoom: 1;
	/*background: #F4F4F4;*/
}
/*#idx-main-left*/
#idx-main-left{
	float: left;
	border: 1px solid #ccc;
}
#article-list{
	border: 1px solid #ccc;
	margin: 10px;
	/*padding: 10px;*/
}
.article{
	width: 600px;
	min-height: 60px;
	border: 1px solid #ccc;
	padding: 10px 10px 10px 50px;
	margin: 10px;
	position: relative;
}
.time-mark{
	color: #FFFFFF;
	background-color: #A470AA;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.article-title a{
	text-decoration: none;
	color: #5DA2A9;
}
.article-intro{
	color: #000000;
}
#page-bar{
	border: 1px solid #ccc;
	margin: 10px;
	padding: 10px;
}
/*#idx-main-right*/
#idx-main-right{
	width: 310px;
	float: right;
	border: 1px solid #ccc;
}
#idx-foot{
	clear: both;
}