body{
	background-color: #F0F0F2; 
	font-family: 'Microsoft YaHei', serif;
}
h1{
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 10px;
	text-shadow: 5px 5px 5px #363940;
}
a{
	text-decoration: none;
	color: inherit;
}
/* webkit, opera, IE9 */
::selection { background:#363940; color: #FFFFFF; }
/* mozilla firefox */
::-moz-selection { background:#363940; color: #FFFFFF;}
#idx-head{
	color: #0C0C0C;
}
#idx-head header{
	height: 100px;
	padding: 20px;
}
#idx-head header>p{
	/*text-shadow: -10px 10px 3px #363940;*/
	color: #979DA6;
}
#idx-head nav{
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
	border-top: 1px solid #ccc;
	box-shadow: 0px 5px 5px #CCCCCC;
}
.nav-item{
	min-width: 32px;
	font-size: 18px;
	margin-right: 20px;
	cursor: pointer;
	display: inline-block;
}
.nav-item:first-child{
	position: relative;
}
#home-icon{
	width: 32px;
	height: 22px;
	background: url("../images/home.png") no-repeat;
	position: absolute;
	top: -22px;
	left: 3px;
}
#idx-main{
	width: 1024px;
	border: 1px solid #ccc;
	margin: 10px auto;
	padding: 10px;
	overflow: auto;
	zoom: 1;
	box-shadow: 0 5px 5px #CCCCCC;
}
/*#idx-main-left*/
#idx-main-left{
	float: left;
	/*border: 1px solid #ccc;*/
}
#article-list,#article-info{
	border-right: 1px solid #ccc;
	/*margin: 10px;*/
	padding: 0px 10px 0 10px;
	/*box-shadow: 2px 0px 2px #CCCCCC;*/
}
.article,#article-part{
	width: 600px;
	min-height: 60px;
	border: 1px solid #ccc;
	padding: 10px 10px 10px 35px;
	margin-bottom: 10px;
	position: relative;
}
.article-title {
 	font-weight: bold;
	padding: 2px;
	margin-bottom: 10px;
}
.time-mark{
	/*font-family: Georgia;*/
	color: #DB6968;
	background-color: #363940;/*#979DA6;*/
	width: 36px;
	height: 36px;
	border-top-left-radius: 5px;
	padding: 2px;
	font-size: 12px;
	position: absolute;
	top: 10px;
	left: -10px;
	overflow: hidden;
}
.time-md{
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	text-align: right;
	border-bottom: 1px solid #FFFFFF;
}
.time-year{
	height: 14px;
	line-height: 14px;
	text-align: right;
}
.article-title a{
	text-decoration: none;
	color: #5DA2A9;
}
.article-intro {
	color: #000000;
	font-size: 14px;
	line-height: 18px;
	text-indent: 2em;
}
#page-bar{
	border: 1px solid #ccc;
	margin-top: 10px;
	padding: 10px;
}
.page-num{
	width: 40px;
	height: 40px;
	font-family: Georgia;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	line-height: 40px;
	text-align: center;
	background-color: #363940;
	color: #DB6968;
	cursor: pointer;
	display:  inline-block;
}
#sep{
	width: 1px;
}
/*#idx-main-right*/
#idx-main-right{
	width: 324px;
	padding: 10px;
	float: right;
	border: 1px solid #ccc;
}
.sec-title{
	padding-bottom: 10px;
	text-shadow: 5px 5px 5px #010101;
}
.subsection{
	padding: 0 0 10px 10px;
}
.subsection ul li,.subsection dl dd{
	height: 20px;
	line-height: 20px;
	width: 100%;
	padding: 0  0 5px 0;
}
.subsection dt{
	color: #FFFFFF;
	background: #363940;
	padding: 5px 0 5px;
	margin-bottom: 5px;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.com-list{

}
#idx-foot{
	clear: both;
	height: 300px;
	text-align: center;
	padding: 10px;
}

/*文章详情  开始*/
#article-part{
	width: 625px;
	min-height: 60px;
	border: 1px solid #ccc;
	padding: 10px 10px 10px 10px;
	margin-bottom: 10px;
	position: relative;
	box-shadow: 5px 5px 5px #CCCCCC;
}
h3#article-title {
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#article-content {
	font-size: 14px;
	line-height: 18px;
	text-indent: 2em;
}
/*文章详情 结束*/